<!DOCTYPE html>
<html lang="pt">
<head>
    <title>HOTSlogs</title>
    <link rel="stylesheet" type="text/css" href="../static/main.css" media="screen" />
</head>
<body>
    <header>
        <div class="imglink">
            <a href="/index">
                <img src="../static/logo2.png" alt="logo2">
            </a>
        </div>
        <div>
            <div class="menu">
                <ul>
                    <li>
                        <a href="/cadastro">cadastro</a>
                    </li>
                    <li>
                        <a href="/plano">plano</a>
                    </li>
                    <li>
                        <a href="/lista">herois</a>
                    </li>
                    <li>
                        <a href="/produto">produtos</a>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    {% block template %}

    {% endblock %}
    
</body>
</html>